<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="or.testing.TestScripts.TC6_Delete"/>
      <class name="or.testing.TestScripts.TC4_GetAll_FetchID"/>
      <class name="or.testing.TestScripts.TC1_PostRequest"/>
      <class name="or.testing.TestScripts.TC5_Put"/>
      <class name="or.testing.TestScripts.TC2_GetRequest"/>
      <class name="or.testing.TestScripts.TC3_GetAll"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
